body {
  margin: 0;
}

h1{
  background: white;
  margin: 0;
  padding: 10px;
}

.App {
  font-family: sans-serif;
  text-align: center;
  background:black;
  margin:auto;
  width: 725px;
  overflow: auto;
}

.Search {
  float:left;
  width: 200px;
  color:white;
  padding-top: 20px;
}

.Search input {
  padding:8px;
  margin-bottom: 20px;
}

.Search ul  {
  list-style: none;
  padding: 0 20px;
  margin: 0px;
  text-align: left;
  text-transform: uppercase;
}

.Search ul li {
  list-style: none;
  padding: 5px;
  text-align: left;
  cursor: pointer;
}

.PokemonCards{
  float:left;
  background-color: darkgray;
  width: 525px;
  overflow: auto;
}

.PokemonCards h3{
  margin-bottom: 0;
  text-transform: uppercase;
}

.PokemonCards img{
  cursor: pointer;
}

.ability{
  font-weight: bolder;
}

.PokemonCards > div{
  background-color: darkgray;
  display: block;
  width: 175px;
  height: 300px;
  overflow: none;
}

.PokemonCards > div:first-of-type{
  background-color: lightgrey;
  display: block;
  width: 100%;
  clear: both;
}

.PokemonCards > div:first-of-type h3{
  font-size: 30px;
}
